body{
    width: 900px;
    margin: 0 auto;
    background-color: aquamarine;
}

#header{
    color:rgb(199, 199, 12)
}

#game-area{
    background-color: rgb(241, 235, 223);
}

.winner{
    color:green;
}
.loser{
    color:red;
}